<!DOCTYPE html>
<html>
<head>
	<title>Search Blog</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color:#B0DAF6">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="#">BlogDB</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  	<div class="collapse navbar-collapse" id="navbarNav">
    	<ul class="navbar-nav">
      	<li class="nav-item">
        	<a class="nav-link" href="/home/">Add</a>
      	</li>
        <li class="nav-item active">
          <a class="nav-link" href="/search/">Search<span class="sr-only">(current)</span></a>
        </li>
      	<li class="nav-item">
        	<a class="nav-link" href="/delete">Delete</a>
      	</li>
        <div type="container">
          <li>
            <a href="/login/"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
          </li>
        </div>
    	</ul>
  	</div>
	</nav>
	<center>
    <div  style="height:80vh;background-color:white;margin-top:20px;border-radius:20px" class="col-md-6" >
    <div class="container"  ><h3 style="padding:15px;font:" align="center" class="display-4">Search Blog </h3></div>
	<form method="post">
		{% csrf_token %}
		<div class="form-group">
			<input type="text" name="title" placeholder="title">
		</div>
    <div class="container">
      <input class="btn btn-primary" type="submit" value="Search" style="width:10%;height:35px" >
    </div>

  </form>

		

</body>
</html>